<p id="notice"><%= notice %></p>

<h2 class='card-title d-flex justify-content-between'>
<span>Proyectos</span>
<%= link_to 'Proyecto Nuevo', new_project_path, class: 'btn btn-primary'%>
</h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.user_id %></td>
        <td><%= link_to 'Ver', project %></td>
        <td><%= link_to 'Editar', edit_project_path(project) %></td>
        <td><%= link_to 'Eliminar', project, method: :delete, data: { confirm: '¿Estas seguro que deseas eliminar este proyecto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

