<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between'>
      <span><%= @project.name %></span>
      
    </h2>
  </div>
</div>

<p>
  <strong>Nombre:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Usuario id:</strong>
  <%= @project.user_id %>
<br>
<br>
  <strong>Usuario name:</strong>
  <%= @project.user.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>

<hr>

<h1>Nueva task</h1>

<%= render 'tasks/form' %>



<hr>
<th>Provincia </th>
<select name="provinces[province_Code]" id="province">
  <option value="1">San José</option>
  <option value="2">Alajuela</option>
  <option value="3">Cartago</option>
  <option value="4">Heredia</option>
  <option value="5">Guanacaste</option>
  <option value="6">Puntarenas</option>
  <option value="7">Limón</option>
  
</select>

<th>Cantón </th>
<select name="cantons" id="canton">
</select>

<br>
<hr>

<h1>Lista tasks</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Estado</th>
    <th>Proyecto</th>
    <th>Fecha Limite</th>
    <th></th>
    <th></th>
  </tr>

<% @project.tasks.each do |task| %>
  <% if task.persisted? %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.status %></td>
      <td><%= task.project.name %></td>
      <td><%= task.dead_line %></td>
      <td><%= link_to 'Show', [task.project, task] %></td>
      <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
      <td><%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>  
<% end %>
</table>

<br />

<%= link_to 'New Task', new_project_task_path(@project.id) %>
